<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqk.recruitment.common.mapper.DictMapper">
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO dict(id,parent_id,name,value,dict_code)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
                #{item.id},
                #{item.parentId},
                #{item.name},
                #{item.value},
                #{item.dictCode}
            )
        </foreach>
    </insert>
</mapper>
